version: "3.9"

services:
  payment:
      # image: winnerkypt/meetme-payment:latest
      build: .
      container_name: payment-docker
      networks:  
        - meetme
      environment:
        STRIPE_PUBLISHABLE_KEY: ${STRIPE_PUBLISHABLE_KEY}
        STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
        MONGO_URL: ${MONGO_URL}
        URL_WEB: ${URL_WEB}
        TOKEN_KEY: ${TOKEN_KEY}
        END_POINT_SECRET: ${END_POINT_SECRET}
        DATABASE_NAME: ${DATABASE_NAME}
networks:
  meetme:  
    external: true